.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    place-items: center; 
    margin-top: 0px;
    min-height: 90vh;
    
}
#loginForm{
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'VT323', monospace;
    box-shadow: 1px 1px 1px 1px rgb(141, 140, 140);
    width: 500px;
    margin-top: 40px;
    height: 400px;
    border-radius: 20px;
    padding: 20px 20px;
    /* background-image: url("../assets/images/loginBg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(300deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.7));
}
#username,#password{
    font-family: 'VT323', monospace;
    border-radius: 5px;
    font-size: 20px;
    height: 25px;
    padding:5px 5px;
    width: 250px;
    padding: 10px 10px;
    border: 1px solid black;
    background-color: whitesmoke;
}
#username,#password:focus{
    outline: none;
}
#loginForm>input{
    margin-bottom: 10px;
}
#loginForm>span{
    margin-bottom: 10px;
}

#loginBtn{
    width: 270px;
    place-self: center;
    font-family: 'VT323', monospace;
    background-color: transparent;
    border: 2px solid black;
    font-size: 23px;
    margin-bottom: 10px;
    color: black;
    /* text-shadow: 1px 1px 1px rgb(49, 49, 49); */
    padding: 7px 7px;
    background-color: rgb(214, 221, 228);
    border-radius: 5px;

}
#loginBtn:hover{
    cursor: pointer;
    background-color: rgb(157, 180, 201);
}

#loginHead{
  text-shadow: 5px 5px 5px whitesmoke;
  color: rgb(41, 40, 40);
}

#googleBtn{  
    width: 270px;
    place-self: center;
    font-family: 'VT323', monospace;
    background-color: transparent;
    border: 2px solid black;
    font-size: 23px;
    margin-bottom: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 7px;
    /* text-shadow: 1px 1px 1px rgb(49, 49, 49); */
    /* background-color: transparent; */
    background-color: rgb(214, 221, 228);
    border-radius: 5px;
    cursor: pointer;
}
#googleBtn:hover{
    cursor: pointer;
    background-color: rgb(157, 180, 201);
}

#registerRedirect{
    font-size: 20px;
    background-color: aliceblue;
    color: black;
    padding: 2px 2px;
    border-radius: 5px;
    width: 260px;
}

@media only screen and (max-width: 600px) {
    #loginForm{
        width: 300px;
        height: 400px;
        margin-bottom: 20px;
    }
    #username,#password{
        width: 200px;
    }
    #loginBtn, #googleBtn{
        width: 220px;
    }
    #registerRedirect{
        width: 210px;
    }
    #loginHead{
        font-size: 20px;
    }
}