audio{
    width: 70%;
}
audio::-webkit-media-controls-panel {
    background-color: #90afb9;
  }

  audio::-webkit-media-controls-mute-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }

  audio::-webkit-media-controls-play-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177,212,224, .7);
  }

  audio::-webkit-media-controls-current-time-display {
    color: black;
    font-family: 'VT323', monospace;
    font-size: 20px
  }

  audio::-webkit-media-controls-time-remaining-display {
    color: black;
    font-family: 'VT323', monospace;
    font-size: 20px;
  }

  audio::-webkit-media-controls-timeline {
    background-color: #B1D4E0;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  audio::-webkit-media-controls-volume-slider {
    background-color: #B1D4E0;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }
  audio::-webkit-media-controls-seek-forward-button{
    background-color: #B1D4E0;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .music>span{
    text-align: center;
  }

  .music{
    border-radius: 5px;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 5px;
    flex: 0.4;
    display: grid;
    align-self: start;
    place-items: center;
  }

  .music-player{
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    color:rgb(79, 79, 79);
    margin-bottom: 10px;
  }

  #gif{
    place-self: center;
    border: 0px solid gray;
    height: 500px;
    border-radius: 5px;
  }

  .music>audio{
    place-self: center;
  }

  #refreshGif{
    background-color: transparent;
    width: 40px;
    height: 40px;
    place-self: center;
    border-radius: 20px;
    border: 1px solid transparent;
    margin-top:5px;
  }
  #refreshGif:hover{
    cursor: pointer;
    border: 1px solid transparent;
  }

  @media only screen and (max-width: 600px) {
    .music-player{
      display: none;
    }
    #gif{
      margin-top: 40px;
      max-height: 300px;
    }
  }