
  .music>span{
    text-align: center;
  }

  .music{
    border-radius: 5px;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 5px;
    flex: 0.4;
    display: grid;
    align-self: start;
    place-items: center;
  }


  #gif{
    place-self: center;
    border: 0px solid gray;
    min-height: 480px;
    min-width: 480px;
    max-height: 480px;
    max-width: 480px;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;
    visibility: hidden;
  }
  .gif-blur{
    /* background-image: url("./gifs/small/cat.jpg"); */
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    min-height: 480px;
    min-width: 480px;
    max-height: 480px;
    max-width: 480px;
  }

  #refreshGif{
    background-color: transparent;
    width: 40px;
    height: 40px;
    place-self: center;
    border-radius: 20px;
    border: 1px solid transparent;
    margin-top:5px;
  }
  #refreshGif:hover{
    cursor: pointer;
    border: 1px solid transparent;
  }

  @media only screen and (max-width: 640px) {
    #playlist-toggle{
      visibility: hidden;
    }
    #gif{
      max-height: 300px;
      max-width: 300px;
      min-height: 300px;
      min-width: 300px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
    }
  }

  @media only screen and (max-width: 1280px) {
    #gif{
      max-height: 430px;
      max-width: 430px;
      min-height: 430px;
      min-width: 430px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 430px;
        max-width: 430px;
        min-height: 430px;
        min-width: 430px;
    }
  }

  @media only screen and (max-width: 1140px) {
    #gif{
      max-height: 400px;
      max-width: 400px;
      min-height: 400px;
      min-width: 400px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 400px;
        max-width: 400px;
        min-height: 400px;
        min-width: 400px;
    }
  }

  @media only screen and (max-width: 1024px) {
    #gif{
      max-height: 300px;
      max-width: 300px;
      min-height: 300px;
      min-width: 300px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 300px;
        max-width: 300px;
        min-height: 300px;
        min-width: 300px;
    }
  }

  @media only screen and (max-width: 768px) {
    #gif{
      max-height: 250px;
      max-width: 250px;
      min-height: 250px;
      min-width: 250px;
    }
    .gif-blur{
        margin-top: 10px;
        max-height: 250px;
        max-width: 250px;
        min-height: 250px;
        min-width: 250px;
    }
  }

  @media screen and (max-width:640px){
    .music{
      /* display: none; */
    }
  }