#timerButtons > button {
  background-color: transparent;
  border: none;
}

.timer {
  box-shadow: 2px 2px 2px rgb(52, 51, 51);
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px 10px;
  font-size: large;
  flex: 0.4;
  width: 300px;
  display: grid;
  place-items: center;
  height:100px;
  min-height: 100px;
}

#timerTime {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}
