.home{
    padding: 30px 30px;
}
.heading>span>button{
    background-color: transparent;
    margin-left: 10px;
    border-radius: 5px;
    font-family: 'VT323', monospace;
    background-color: transparent;
    border: none;
}
.heading{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 20px;
}

.heading>span>button:hover{
    
    cursor: pointer;
}

.center-column{
   flex: 0.4;
}
.side-column{
    flex: 0.3;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

#todoInput{
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 2px;
    font-family: 'VT323', monospace;
    font-size: 16px;
    background-color: transparent;
    border-radius: 2px;
}

.todo-list{
    max-height:300px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.todo-list::-webkit-scrollbar{
    width: 5px;
}

html::-webkit-scrollbar{
    width: 5px;
}

#addTodo{
    border: none;
    background-color: transparent;
}
#addTodo:hover{
    cursor: pointer;
}

.body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media all and (max-width:500px){
    .body{
        display: flex;
        flex-direction: column;
    }
}