.home{
    padding: 10px 10px;
}
.yinyang{
    vertical-align: middle;
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.heading>span>button{
    background-color: transparent;
    margin-left: 10px;
    border-radius: 5px;
    font-family: 'VT323', monospace;
    background-color: transparent;
    border: none;
}
.heading{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 20px;
   margin-top: 10px;
}

.heading>span>button:hover{
    
    cursor: pointer;
}

.center-column{
   flex: 0.4;
}
.side-column{
    flex: 0.3;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

#todoInput{
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 2px;
    font-family: 'VT323', monospace;
    font-size: 16px;
    background-color: transparent;
    border-radius: 2px;
}

.todo-list{
    max-height:200px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.todo-list::-webkit-scrollbar{
    width: 5px;
}
.todo-list::-webkit-scrollbar-track{
    background-color: transparent;
    width: 5px;
}
.todo-list::-webkit-scrollbar-thumb{
    background-color: #545151;
    width: 5px;
    border-radius: 10px;
}

#gamesButton:hover{
    cursor: pointer;
}

#quotes{
    max-height: 150px;
    width: 300px; 
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 2px 2px 2px rgb(52, 51, 51),;
    font-size: 25;
    margin-bottom: 10px;
    margin-top: 10px;
}
#quotes::-webkit-scrollbar{
    width: 5px;
}

#startGame:hover{
    cursor: pointer;
}


#messageBody::-webkit-scrollbar{
    width: 8px;
}
#messageBody::-webkit-scrollbar-track{
    background-color: transparent;
    width: 8px;
}
#messageBody::-webkit-scrollbar-thumb{
    background-color: #858383;
    width: 10px;
    border-radius: 10px;
}

html::-webkit-scrollbar{
    display: none;
}

#addTodo{
    border: none;
    background-color: transparent;
}
#addTodo:hover{
    cursor: pointer;
}

.weather-card{
    font-size: 30px;
    margin-bottom: 2px;
    width: 300px;
    padding: 5px 5px;
    border-radius: 10px;
    margin-top: 2px;
    text-align: center;
    height: 120px;
    display: grid;
    position:relative;
    box-shadow: 2px 2px 2px rgb(52, 51, 51);
}
.weather-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media all and (max-width:500px){
    .body{
        display: flex;
        flex-direction: column;
    }
}