.themeOut{
    /* flex: 0.3;
    align-self: start; */
    margin-top: 10px;
    display: grid;
    place-items: center;
    width: 300px;
}
.themes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 40px 40px 40px; */
}

.themes>button{
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    border: none;
    box-shadow: 2px 2px 2px black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.themes>button:hover{
    cursor: pointer;
}