.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: red; */
}

.navbar > span > button {
  background-color: transparent;
  margin-left: 10px;
  border-radius: 5px;
  font-family: "VT323", monospace;
  background-color: transparent;
  border: none;
}

.navbar > span > button:hover {
  cursor: pointer;
}

.logo {
  text-align: left;
  margin-top: 0px;
  margin-left: 30px;
  flex: 1;
}

.subhead {
  font-weight: lighter;
  font-size: 20px;
}

.logout{
    font-size: 20px;
    flex:1;
    width: fit-content;
    text-align: right;
}

.logoutConfirm{
  height: 120px;
  width: 220px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.confirmText{
  font-size: 24px;
  font-weight: 500;
}

.btnContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.stayBtn{
   background-color: rgb(65, 112, 65);
   padding: 8px;
   border-radius: 10%;
   color: whitesmoke
}
.stayBtn:hover{
  background-color: green;
  cursor: pointer;
}

.leaveBtn{
   background-color: rgb(206, 206, 65);
   padding: 8px;
   border-radius: 10%;
}
.leaveBtn:hover{
  background-color: yellow;
  cursor: pointer;
}

@media only screen and (max-width:780px){
  .navbar{
    margin-top: 10px;
  }
}

@media only screen and (max-width:1080px){
  .subhead{
    display: none;
  }
  .navbar{
    align-items: start;
    margin-top: 10px;
  }
  .welcome{
    display: none;
  }
}

@media screen and (max-width:640px){
  .navbar{
    /* flex-direction: column-reverse; */

  }
}
