.clock{
    font-size: 30px;
    box-shadow: 2px 2px 2px rgb(52, 51, 51);
    width: 300px;
    padding: 5px 5px;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
    height: 80px;
    display: grid;
    place-items: center;
}