.clock{
    font-size: 30px;
    /* box-shadow: 2px 2px 2px rgb(52, 51, 51); */
    width: 300px;
    padding: 5px 5px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
    height: 80px;
    display: grid;
    place-items: center;
    background-color: transparent;
}

@media screen and (max-width:1280px){
    .clock{
        width: 280px;
    }
}

@media screen and (max-width:1140px){
    .clock{
        width: 250px;
        font-size: 28px;
    }
}

@media screen and (max-width:1024px){
    .clock{
        width: 220px;
        font-size: 26px;
    }
}
