.app{
    padding: 0px 0px;
    min-height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    cursor: url('./cursor.svg'),auto;
    background-image: linear-gradient(135deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.8));

}

