.music_player {
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  flex: 1;
}
.musicLogo {
  display: none;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 5px;
}

.input_song{
  width: 80%;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.input_song::placeholder{
  color: black;
}
.add_song{
  margin-left: 10px;
  background-color: #54676d;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
.add_song:hover{
  cursor: pointer;
}

.playlist{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.songsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.songContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   border-radius: 5px;
   padding: 5px;
}
.songContainer:hover{
  cursor: pointer;
}

.songImg{
   height: 150px;
   width: 200px;
   border-radius: 5px;
}

.songTitle{
   max-width: 200px;
   font-size: 14px;
}

.songAdd{
    
}


@media only screen and (max-width: 640px) {
  .music_player {
    /* max-width: 300px; */
    /* margin-top: 30px; */
  }
}

@media only screen and (max-width: 1280px) {
  .music_player {
    font-size: large;
  }
}

@media only screen and (max-width: 1140px) {
  .music_player {
    /* max-width: 400px; */
    flex: 1.2;
    font-size: large;
  }
}

@media only screen and (max-width: 1024px) {
  .music_player {
    max-width: 350px;
    flex: 1.5;
    /* margin-top: 50px; */
  }
}

@media only screen and (max-width: 768px) {
  .music_player {
    max-width: fit-content;
  }
  .music_player > p {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    display: none;
  }
  .playlistBtn {
    display: none;
  }
  .slider {
    display: none;
  }
  .musicLogo {
    display: block;
  }
  .music_player {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin-top: -10px;
    margin-left: 20px;
  }
}
