.todo_container{
    margin-left: 5px;
    width: 300px;
}

.todo_container>h2{
    margin-top: 35px;
    font-weight: 500;
    margin-bottom: 5px;
}






@media screen and (max-width:1280px){
    .todo_container{
        width: 280px;
    }
}

@media screen and (max-width:1140px){
    .todo_container{
        width: 250px;
    }
}

@media screen and (max-width:1024px){
    .todo_container{
        width: 220px;
    }
}
@media screen and (max-width:768px){
    .todo_container{
        width: 200px; 
    }
}


@media screen and (max-width:640px){
    .todo_container>h2{
        margin-top: 20px;
    }
}